body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
input::-webkit-input-speech-button {display: none}
button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  overflow: scroll;
}
html, body, .p-index{
  width: 100%;
  color: #4a9faa;
}
.main{
  background-image: url('./img/index-bg.png');
  /* background-position: 100% 50%; */
  background-size: 100% 100%;
  height: 100%;
  padding: 1.11rem 0.35rem;
}
.logo{
  width: 2.04rem;
  height: 0.79rem;
}
.title{
  margin-top: 0.42rem;
  text-align: center;
  font-family:SF UI Text;
  font-weight:bold;
  color:rgba(74,159,170,1);
  line-height: 0.14rem;
}
.content{
  font-size:0.21rem;
  font-family:SF UI Text;
  font-weight:500;
  margin-top: 0.48rem;
  color:rgba(66,146,176,1);
  line-height:0.32rem;
}
/* .content p:not(:last-child){ */
.content p{
  margin-bottom: 0.3rem;
}
.vertical-middle {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.video{
  /* width:6.56rem; */
  width: 100%;
  height:3.71rem;
}
.btn-list{
  margin-top: 0.4rem;
}
.upper, .lower{
  justify-content: center;
  display: flex;
  color: white;
  font-size:.24rem;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.history{
  background-image: url('./img/History\ &\ Culture\ button.png');
  background-size: 100% 100%;
  width:2.05rem;
  height:.7rem;
}
.nature{
  margin-left: 0.6rem;
  background-image: url('./img/Nature\ button.png');
  background-size: 100% 100%;
  width:1.05rem;
  height:.7rem;
}
.lower{
  margin-top: .2rem;
}
.education{
  background-image: url('./img/Education\ button.png');
  background-size: 100% 100%;
  width:1.5rem;
  height:.7rem;
  margin-right: 0.5rem;
}
.science{
  background-image: url('./img/Science\ &\ Technology\ button.png');
  background-size: 100% 100%;
  width:2.6rem;
  height:.7rem;
}
.footer{
  text-align: center;
  padding: 0.2rem 0.8rem;
  background: #4A9FAA;
  color: white;
  font-size:0.13rem;
  font-family:SF UI Text;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:0.24rem;
}
